<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.lpng">
<!-- Icons goes here -->
<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="favicons/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="favicons/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">


    <title>Makado - Ugandan app store</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">
  
    <!-- Fixed navbar -->
    
    <div class="navbar navbar-default navbar-inverse navbar-main navbar-fixed-top">
    <div class="header-wrap">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-broand" href="/" style="color:#fff";><img src="images/logo.png" ></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav drop navbar-right">
            <li class="normal"><a href="/market1" style="color:#fff;font-weight:bold;">App market</a></li>            
            <li class="normal"><a href="/apps" style="color:#fff;font-weight:bold;">Apps list</a></li>
            <li class="cta"><a href="/upload" style="color:#fff;font-weight:bold;">Upload your App</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>
	
	<!-- sidebar -->
  <div class="row">    
     <div class="row-fluid apps"><br>

		<% @resource.each do |f| %>
      <div class="col-md-3 tile" align="center">
        <div class="container">
        <img class="img-circle" width="120"  height="120" src="<%= f.file %>" alt="" />
        <h2><%= f.name %></h2>
        <p><%= f.appDescription %></p>
        <p><%= f.priceInUGX %></p>
          <a href="" class="btn btn-lg btn-default">Buy</a>
        </div>
      </div>
      <% end%>
	</div>
  </div>
	<!-- sidebar -->
	
	</div>
    </div><!-- #wrap -->
    
    <div class="footercontainer"></div>
	
	<!-- footer-->	
<!-- 	<div id="footer"> 
      <div class="container">
        <p class="text-muted credit">dfsdfgsdfgsf</p>
      </div>
    </div> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
