<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.lpng">
<!-- Icons goes here -->
<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="favicons/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="favicons/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">


    <title>Makado - Ugandan app store</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">
  
    <!-- Fixed navbar -->
    
    <div class="navbar navbar-default navbar-inverse navbar-main navbar-fixed-top">
    <div class="header-wrap">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-broand" href="/" style="color:#fff";><img src="images/logo.png" ></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav drop navbar-right">
            <li class="normal"><a href="/market1" style="color:#fff;font-weight:bold;">App market</a></li>            
            <li class="normal"><a href="/apps" style="color:#fff;font-weight:bold;">Apps list</a></li>
            <li class="cta"><a href="/upload" style="color:#fff;font-weight:bold;">Upload your App</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>
	
        <div class="col-md-3">
    <div class="container">

    <!-- peronal information of he developer -->
      <div class="profile">
      <h3 style="font-size:16px;">Admin Dashborad</h3>
      <p>only admin sees this and the related links and app actins</p>
      </div>
      
      <hr>
     <!-- admin list panel -->
      <div class="controls">
      <ul class="" type="none">
        <li><a href="/market1" class="btn btn-mini btn-default col-md-12">Approved apps</a></li><br>
        <li><a href="/VerifyApps" class="btn btn-mini btn-default col-md-12">Verify Apps</a></li><br>
      </ul>
      </div>
      
    </div>
    </div>
  <!-- sidebar -->
	<!-- sidebar -->
  <div class="col-md-9 content-panel">
    <p> Apps Available for Testing </p>
    
		  <div class="row-fluid app-list"> 	
			
			
      <form action = "/VerifyApps" method = "POST"  enctype="multipart/form-data" role="form" id="upload-form">
        <div class="form-group">
        <label for="name">App Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter App Name">
        </div>
        <div class="form-group col-md-6">
        <label for="exampleInputPassword1">App price - UGX</label>
        <input type="text" class="form-control" name="priceInUGX" id="name" placeholder="Price">
        </div>
        <div class="form-group col-md-6">
        <label for="exampleInputPassword1">App price - USD</label>
        <input type="text" class="form-control" name="priceInDollars" id="name" placeholder="Price">
        </div>
        <div class="form-group">
        <label for="exampleInputPassword1">App Description</label>
        <textarea class="form-control" rows="3" name="appDescription" id="name"></textarea>
        </div>
        <div class="form-group">
        <label for="exampleInputFile">App logo (jpg/png)</label>
        <input type="file" id="exampleInputFile" name="file" >
        <p class="help-block">This is the logo and brand of the app you want to upload.</p>
        </div>
        <div class="checkbox">
        <label>
          <input type="checkbox" required> I Agree to <a href="">Trems and condition</a> of ploadingan app
        </label>
        </div>
        <input type="submit" value="submit" class="btn btn-lg btn-default col-md-4">Submit</input>
      </form>
				
		  </div>

		</div>
	</div>
	<!-- sidebar -->
	
	</div>
    </div><!-- #wrap -->
    
    <div class="footercontainer">Footer</div>
	
	<!-- footer-->	
<!-- 	<div id="footer"> 
      <div class="container">
        <p class="text-muted credit">dfsdfgsdfgsf</p>
      </div>
    </div> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
